.container {
  width: 1000px;
  margin:auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: none;
}
header {
  height: 60px;
  background-color: #3f3f3f;
  color: white;
}
a:hover {
  background-color:#ff9900;
  color: #3f3f3f;
}

.imageClick:hover{
  background-color:#ffff;
}

a{
  color: #ff9900;
  text-decoration: none;
}

p {
  word-break: break-word;
  color: #868686;
}

.footerDiv {
  color: aliceblue !important;
  background-color: #252525;
}

.footerButton {
  background-color: #3f3f3f;
  border: none;
  color: #868686;
  height: 30px;
  border-radius: 10px;
}

.search-btn{
  background-color: #ff9900;
  height: 30px;
  border: none;
  color: white;
}

.search-btn:hover{
  background-color: white;
  color: #ff9900;
  cursor: pointer;
}

.headParagraph {
  margin-top: 25px; 
  margin-bottom: 25px;
  color: #666666;
}

.footerSubmitButton{
  background-color: #3f3f3f;
  border: none;
  height: 30px;
  margin-top: 15px;
  color: #fe9900;
  font-weight: bold;
  border-radius: 10px;
}

.footerSubmitButton:hover{
  background-color:#ff9900;
  color: #3f3f3f;
  cursor: pointer;
}
.stylesBtn {
  padding: 3px 10px 3px 10px;
  border-style: solid;
  border-radius: 5px;
}
body  {
  background-image: url(../images/blur3.jpg);
  background-size: cover;
  background-attachment: scroll;
}


.icons {
  width: 250px;
  height: 50px;
  background-color: #3f3f3f;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0;
  justify-content: flex-end;
}

.icon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  background-color: #1f1f1f;
  border-radius: 50%;
}
.icon--linkedin {
  background-image: url(../icons/icon-linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--twitter {
  background-image: url(../icons/icon-twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--pinterest {
  background-image: url(../icons/icon-pinterest.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--google-plus {
  background-image: url(../icons/icon-google-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--rss {
  background-image: url(../icons/icon-rss.png);
  background-repeat: no-repeat;
  background-position: center;
}

.mySlide {
    display: none;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.rectangle {
  background-color: #fe9900; 
  width: 200px; 
  height: 15px;
  border-right: 5px;
  border-style: solid;
  border-color: #ffffff;
}

.active, 
.rectangle:hover {
  background-color: #fff;
  cursor: pointer;
}