products-class {
  margin-bottom: 40px;
}

.products-class table {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30pxs;
}

.products-class td {
  padding-bottom: 20px;
}

label {
  word-break: break-word;
  color: #868686;
}

#foto-product-three {
  transform: scale(2, 1.2);
}

#ora-dy-e-nates{
  transform: rotateX(45deg);
}

#tastiera {
  transform: rotateY(45deg);
}

#shtepiza{
  transform: rotateZ(90deg);
}