.container {
    width: 1000px;
    margin:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    height: 60px;
    background-color: #3f3f3f;
    color: white;
}
a:hover {
    background-color:#ff9900;
    color: #3f3f3f;
}

.imageClick:hover{
    background-color:#ffff;
}

a{
    color: #ff9900;
    text-decoration: none;
}

p {
    word-break: break-word;
    font-size: 13px;
    color: #868686;
    /* font-family: sans-serif; */
}

.footerDiv {
    color: aliceblue !important;
    background-color: #252525;
}

.footerButton {
    background-color: #3f3f3f;
    border: none;
    color: #868686;
    height: 30px;
    border-radius: 10px;
}

.search-btn{
    background-color: #ff9900;
    height: 30px;
    border: none;
    color: white;
}

.search-btn:hover{
    background-color: white;
    color: #ff9900;
    cursor: pointer;
}

.headParagraph {
    margin-top: 25px; 
    margin-bottom: 25px;
    color: #666666;
}

.footerSubmitButton{
    background-color: #3f3f3f;
    border: none;
    height: 30px;
    margin-top: 15px;
    color: #fe9900;
    font-weight: bold;
    border-radius: 10px;
}

.footerSubmitButton:hover{
    background-color:#ff9900;
    color: #3f3f3f;
    cursor: pointer;
}