.container {
    width: 1000px;
    margin:auto;
}
header {
    height: 60px;
    background-color: #3f3f3f;
    color: white;
}
a:hover {
    /* color: aliceblue; */
    background-color: beige;
}

a{
    color: rgb(201, 159, 97);
}
/* div.input {
    float: right;
} */
/* div h2{
    size: 100px;
    height: 100px;
} */
p {
    word-break: break-all;
}

.footerDiv {
    color: aliceblue !important;
    background-color: #3f3f3f;
}